<html>
<head>
    <title>{% block title %}GrocerMe{% endblock %}</title>
 	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bi-style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <nav class="light-green lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">GrocerMe</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('main_blueprint.my_fridge') }}">My Fridge</a></li>
                <li><a href="{{ url_for('main_blueprint.my_receipes') }}">My Receipes</a></li>
                <li><a href="{{ url_for('main_blueprint.my_nutrition') }}">My Nutrition</a></li>
                <li><a href="{{ url_for('main_blueprint.my_grocery_cart') }}">My Grocery Cart</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li>
                    <div class="row">
                        <div class="col s4">
                            <div class="container">
                                <img src="{{ url_for('static', filename='img/tomato.jpg') }}" class="circle responsive-img">
                            </div>
                        </div>
                        <div class="col s8 grey-text darken-4">
                            {% if current_user.is_authenticated %}
                                {{ current_user.username }}
                            {% else %}
                                Stranger
                            {% endif %}
                        </div>
                    </div>
                </li>
                <li><a href="{{ url_for('main_blueprint.my_fridge') }}">My Fridge</a></li>
                <li><a href="{{ url_for('main_blueprint.my_receipes') }}">My Receipes</a></li>
                <li><a href="{{ url_for('main_blueprint.my_nutrition') }}">My Nutrition</a></li>
                <li><a href="{{ url_for('main_blueprint.my_grocery_cart') }}">My Grocery Cart</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <a href="#" class="right-align"><i class="material-icons">
                {% if request.url_rule.endpoint == 'main_blueprint.my_fridge' %}
                    kitchen
                {% elif request.url_rule.endpoint == 'main_blueprint.my_receipes' %}
                    restaurant_menu
                {% elif request.url_rule.endpoint == 'main_blueprint.my_nutrition' %}
                    insert_chart
                {% elif request.url_rule.endpoint == 'main_blueprint.my_grocery_cart' %}
                    shopping_cart
                {% endif %}
            </i></a>
        </div>
    </nav>
    <div>
    {% for message in get_flashed_messages() %}
    {{ message }}
    {% endfor %}
    </div>
    {% block body %}
    {% endblock %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-barIndicator.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/moment-with-locales.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/knockout-3.4.0.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/init.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lunr.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/receipePage.js') }}"></script>
</body>
</html>