{% extends "base.html" %}


{% block body %}
<div class="section">
	<div class="search-wrapper card">
		<input id="search">
		<i class="material-icons">search</i>
		<div class="search-results"></div>
	</div>
</div>
<div class="container">
	<ul class="collection">
		<li class="collection-item avatar dismissable">
			<img src="{{ url_for('static', filename='img/tomato.jpg') }}" class="circle responsive-img">
			<span class="title">
				{% if item %}
					{{item}}
				{% else %}
					Tomato
				{% endif %}
			</span>
		</li>
		<li class="collection-item avatar dismissable">
			<img src="{{ url_for('static', filename='img/tomato.jpg') }}" class="circle responsive-img">
			<span class="title">
				{% if item %}
					{{item}}
				{% else %}
					Tomato
				{% endif %}
			</span>
		</li>
		<li class="collection-item avatar dismissable">
			<img src="{{ url_for('static', filename='img/tomato.jpg') }}" class="circle responsive-img">
			<span class="title">
				{% if item %}
					{{item}}
				{% else %}
					Tomato
				{% endif %}
			</span>
		</li>
	</ul>
</div>
{% endblock %}