{% extends "base.html" %}


{% block body %}
<div class="section">
</div>

<div class="col s12">

	<div class="container">
		<div class="row">
			<div class="search-wrapper card">
				<input id="search">
				<i class="material-icons" id="recipeSearch">search</i>
				<div class="search-results"></div>
			</div>
		</div>
		<div class="row">
			<h5 class="light center-align" id="header1">Recipes Based on Your Groceries</h5>
		</div>
		<div class = "row">
			<div id="receipeGen"></div>
		</div>
		<div class="row">
			<div class="center-align">
				<a class="waves-effect waves-light btn-flat" style="display:none" id="seeMore" href="#">Load More</a>
			</div>
		</div>
		<div id="recipeModal" class="modal modal-fixed-footer " >
			<div class="modal-content" id="recipeDetails" ></div>
			<div class="modal-footer">
	 			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
			</div>
		</div>
	</div>


</div>




{% endblock %}