{% extends "base.html" %}


{% block body %}
<div class="section">
	<div class="container">
		<div class="row">
			<div class="search-wrapper card">
				<input id="search">
				<i class="material-icons" id="recipeSearch">search</i>
				<div class="search-results"></div>
			</div>
		</div>
		<div class="row">
			<h4 class="light center-align">Recipes Based on Your Groceries</h4>
		</div>
		<div class = "row">
			<div id="receipeGen"></div>
		</div>
		<div class="row">
			<div class="center-align">
				<a class="waves-effect waves-light btn-flat" id="seeMore" href="#">Load More</a>
			</div>
		</div>
	</div>
</div>





{% endblock %}